/* MAIN */
body {
    border: 10px solid white;
    margin: 0;
    padding: 0;
    background: #444446;
}
.dev {
    border: none;
}
.disabled {
    pointer-events: none;
    opacity: 0.4;
}
main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    max-width: 390px;
    margin: 0;
}
/* Typography */

@font-face {
    font-family: "Digital Numbers Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Digital Numbers Regular"),
        url("./assets/DigitalNumbers-Regular.woff") format("woff");
}

.left-team {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    font-size: 50px;
    color: #ffffff;
}

.right-team {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    font-size: 50px;
    color: #009eec;
}
.counter-name {
    font-size: 35px;
    white-space: nowrap;
}

.score-box {
    width: 350;
    font-size: 200px;
    font-family: "Digital Numbers Regular";
    font-weight: normal;
    color: #eaff09;
    background: black;
    padding: 50px 20px;
    border-radius: 50px;
}

p {
    margin: 0px 20px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: aliceblue;
}
/* Layouts */

.rows-score {
    padding: 0 30px;
    display: flex;

    text-align: center;
    justify-content: center;
}

.left-score {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-score {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-buttons {
    width: 500px;
    display: flex;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.counters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.competition {
    margin: 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-container {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counts {
    font-size: 160px;
    font-family: "Digital Numbers Regular";
    font-weight: normal;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.timer-name {
}
.main-counts {
    font-size: 250px;
    font-family: "Digital Numbers Regular";
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

/* dev */
.rows-dev {
    width: 300px;
}

.team-name-dev {
    margin: 5px;
}

.left-team-dev {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    font-size: 40px;
    color: #ffffff;
}

.right-team-dev {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    font-size: 40px;
    color: #009eec;
}
.score-dev {
    font-size: 70px;
    font-family: "Digital Numbers Regular";
    font-weight: normal;
    color: #eaff09;
    background: black;
    padding: 20px 20px;
    border-radius: 50px;
}

.btn {
    font-size: 20px;
    padding: 10px;
    min-width: 60px;
    border-radius: 20px;
    color: white;
    border: white 2px solid;
    background: black;
    cursor: pointer;
}
.btn-dev {
    font-size: 20px;
    padding: 10px;
    min-width: 60px;
    border-radius: 20px;
    color: white;
    border: white 2px solid;
    background: #444446;
    cursor: pointer;
}
.counts-dev {
    font-size: 60px;
    font-family: "Digital Numbers Regular";
    font-weight: normal;
}

.main-button {
    min-width: 200px;
    margin: 20px 0px;
    font-size: 30px;
}
.toggle-btn {
    width: 80px;
}
